<!DOCTYPE html>
<html>
<head>
</head>
<body>

<h1>DNDTemplates</h1>

<p>Want to start your collection? Either Login or Signup below!</p>
<a href="login">Login</a>
<a href="signup">Signup</a>

</body>
</html>
