<!DOCTYPE html>
<html>
  <head>
    <title>Gameviews</title>
    <link rel="stylesheet" type="text/css" href="<%= url('css/style.css') %>"/>
  </head>
  <body>
  <header>
  <h1>Gameviews</h1>
  
  
  
  
</html>